<template>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <div class="test-div">
        <input class="test-input" type="text" v-model="TodoText" placeholder="Please enter your todo that is you want" >
        <button class="btn btn-success" @click="AddTodo">Add Todo</button>
    </div>
    <div class="todo-class-div">
        <h1 class="todos-title">All Todos</h1>
        <p v-for="todo in todoList" :key="todo._id" class="font-italic">{{todo.content}}</p>
    </div>
</template>
<script>
import axios from 'axios'
export default({    
    data(){
        return{
            todoList:[],
            TodoText:""
        }
    },
    methods:{
        AddTodo(){
            axios.post("http://52.156.77.163:5858/todo/addtodo",{'Content':this.TodoText},{headers: {'Content-Type': 'application/json'}}).then((res)=>{
                if(this.todoList==null){
                    this.todoList=[{_id: res.data._id, _rev: res.data._rev, content: res.data.content , completed: false}]
                }
                else{
                    this.todoList.unshift(res.data)
                }
                this.TodoText=""                
            })
        }
    },
    created() {
        axios.get(`http://52.156.77.163:5858/todo/alltodo`).then((res)=>{
            this.todoList=res.data
            if (res.data!=null){
                this.todoList.reverse()
            }
        })
    }
})
</script>
<style scoped>
.todo-class-div{
  margin: auto;
  width: 40%;
}
.font-italic{
  text-align: center;
}
button{
    height: 30px;
}
input{
    margin-top: 10px;
    margin-right: 5px;
}
.todos-title{
    font-style: italic;
}
.btn-success{
    height: 33px;
    padding-top: 0.35%;
}
.test-input{
    margin-right: 10px;
    width: 445px;
}
::placeholder {
  font-style: italic;
}
</style>
